<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viewer Page</title>

    <link rel="stylesheet" href="../../../dist/assets/index-B7RgkquC.css">
</head>

<body>
    <div id="root"></div>
    <script src="../../../dist/assets/index-eorKsNSa.js"></script>
    <script>
        (() => {
            const urlParams = new URLSearchParams(window.location.search);
            const sourcePage = urlParams.get('sourcePage');
            if (!sourcePage)
                return

            fetch(sourcePage)
                .then(response => response.text())
                .then(htmlContent => {
                    window.reactRoot.render(
                        window.React.createElement(window.Viewer, { htmlContent })
                    );
                });
        })();
    </script>
</body>

</html>