<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viewer Page</title>

    <link rel="stylesheet" href="./index.css">
</head>

<body>
    <div id="root"></div>
    <script src="./index.js"></script>
    <script>
        (() => {
            const renderViewer = (htmlContent) =>
                window.reactRoot.render(
                    window.React.createElement(window.Viewer, { htmlContent })
                );

            const urlParams = new URLSearchParams(window.location.search);
            const sourcePage = urlParams.get('sourcePage');
            const sourceHTML = urlParams.get('sourceHTML');

            console.log(sourceHTML)

            if (!sourcePage && !sourceHTML)
                return


            sourcePage &&
                fetch(sourcePage)
                    .then(response => response.text())
                    .then(htmlContent => renderViewer(htmlContent));

            sourceHTML && renderViewer(sourceHTML)

        })();
    </script>
</body>

</html>